/* Common */
:root {
  --white: #fff;
  --hevenly: #b4d0e7;
  --black: #000;
  --btn-blu: #0061ff;
  --grey: #4a4646;
  --light-grey: #d6d6d6;
  --s1: #a2d39b;
  --ss1: #d1e9cd;
  --s2: #61082b;
  --s3: #0093ce;
  --s4: #ff1c1c;
  --s5: #d5001f;
  --s6: #b4d0e7;
  --s7: #0d2481;
  --s8: #ffd830;
  --font-m: 40px;
  --font-l: 76px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 150px auto;
}

.pad {
  padding: 50px;
}

.pos-rel {
  position: relative;
}

.d-flex {
  display: flex;
}

.col {
  flex-flow: column;
  align-items: center;
}

.just-ar {
  justify-content: space-around;
}

.just-btw {
  justify-content: space-between;
}

.just-cnt {
  justify-content: center;
}

.al-cnt {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* margin */

.mrg-40 {
  margin: 40px 30px;
}

.mrg-b80 {
  margin-bottom: 80px;
}

.mrg-t80 {
  margin-top: 80px;
}

/* width */
.min-w200 {
  min-width: 200px;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.line-h30 {
  line-height: 30px;
}

.mg-bot {
  margin-bottom: 20px;
}

.btn {
  display: block;
  background-color: var(--btn-blu);
  color: var(--white);
  padding: 10px;
  border: none;
  cursor: pointer;
}



.txt-grey {
  color: var(--light-grey);
}

.color-blu {
  color: var(--btn-blu);
}

/* header */
header nav {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--white);
}


.ul-nav li {
  list-style: none;
  padding: 10px;
  color: var(--black);
}

li a {
  color: var(--black);
  text-decoration: none;
}

.hide-ul{
  width: 150px;
  background-color: var(--white);
  position: absolute;
  padding-top: 20px;
  top: 15px;
  left: -10px;
  display: none;
  z-index: 1;
}


a:hover ~ .hide-ul {
  display: block;
}

.hide-ul:hover {
  display: block;
}

#hero {
  background-color: var(--hevenly);
  padding-top: 80px;
  margin: 0 auto;
}

#hero .container {
  position: relative;
  bottom: -80px;
}

h1 {
  font-size: var(--font-l);
  margin-bottom: 75px;
}

.w-70 img {
  width: 100%;
}

.w-30 .btn {
  margin: 50px 0;
}

#arrow-down {
  font-size: 35px;
  position: relative;
  top: 80px;
}

#arrow-down a {
  color: var(--black);
}

h2 {
  font-size: var(--font-m);
}

/* section plane */
.check-box {
  margin: 80px 0;
}

.check-box div {
  margin-right: 50px;
}

.radio-in {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.radio-in input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-in:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-in input:checked ~ .checkmark {
  background-color: var(--btn-blu);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-in input:checked ~ .checkmark:after {
  display: block;
}

.radio-in .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--white);
}

/* card */
.container-card {
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 100px) / 3);
  min-height: 300px;
  border: 2px solid var(--light-grey);
  min-width: 300px;
}

.head-card {
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid var(--light-grey);
}

.txt-card {
  padding: 30px 20px;
  line-height: 40px;
}

.txt-card h3 {
  font-size: 25px;
}

.info-card {
  margin-bottom: 30px;
  line-height: normal;
}

.info-card i {
  margin-right: 5px;
}

.btn-card {
  width: 98%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.line-large {
  background-color: var(--light-grey);
  height: 2px;
  width: 100%;
  border: none;
}

.line-small {
  height: 2px;
  margin: 40px 0;
  width: 45px;
  border: none;
  background-color: var(--light-grey);
}

/* horizontal container */
.hr-container {
  margin-top: 50px;
  width: 100%;
  border: 2px solid var(--light-grey);
  position: relative;
}

.hr-head-card {
  text-align: center;
  padding: 10px;
}

div.d-flex p {
  margin-top: 60px;
  line-height: normal;
}

#btn-hr {
  position: relative;
  top: -26px;
  right: -110px;
}

/* section plane */
.img-find img {
  width: 100%;
}

#txt-find {
  padding: 60px 50px;
  line-height: 30px;
}

#txt-find p {
  margin-top: 30px;
}

#txt-find .btn {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
  margin-top: 30px;
}

/* section business */
.bus-card {
  width: calc((100% - 120px) / 3);
  margin-top: 80px;
}

.line-h30 h3 {
  font-weight: 800;
  margin-bottom: -30px;
}

/* section sponsor */
.sponsor-lateral {
  width: 32vw;
  height: 32vw;
}

.sponsor-central {
  width: calc(100% - 63vw);
  height: 32vw;
  padding: 50px;
  overflow: auto;
}

.sponsor-central img {
  width: 50%;
}

.sponsor-central .line-small {
  width: 22%;
}

.sponsor-central span {
  display: block;
  margin-top: 40px;
}

/* square */
.square {
  width: 50%;
  height: 50%;
  fill: var(--white);
}

.square img {
  width: 100%;
}
#s1 {
  background-color: var(--ss1);
}
#s2 {
  background-color: var(--s2);
}
#s3 {
  background-color: var(--s3);
}
#s4 {
  background-color: var(--s4);
}

#s5 {
  background-color: var(--s5);
}

#s6 {
  background-color: var(--s6);
}

#s7 {
  background-color: var(--s7);
}

#s8 {
  background-color: var(--s8);
}

#inner-v1 {
  width: 90%;
  height: 90%;
  background-color: var(--s1);
  fill: var(--white);
}

svg {
  width: 70%;
}

/* section free */
#free {
  margin-top: -150px;
  width: 100%;
  background-color: var(--s6);
}

#free-left {
  padding: 70px 70px 70px 0;
  color: var(--s2);
}

#free-right .btn {
  color: var(--black);
  background-color: var(--white);
  margin-left: 150px;
  padding: 10px 40px;
}

/* section question */
#question h2 {
  margin-bottom: 30px;
}

#question .line-large {
  margin: 30px 0;
}

.car-down {
  display: inline-block;
  margin-left: 40%;
  cursor: pointer;
}

.hid-txt {
  margin-top: 20px;
  display: none;
}

.hov:hover .hid-txt {
  display: block;
}

/* footer */
footer {
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
}

nav.w-100 .container {
  margin: 70px auto;
}

.ul-footer {
  width: calc(100% / 5);
  margin-top: 50px;
}

.ul-footer li {
  list-style: none;
  line-height: 30px;
}

.ul-footer h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: -35px;
}

.ul-footer hr {
  margin-left: -75px;
  
}