:root {
    --white: #fff;
    --hevenly: #b4d0e7;
    --black: #000;
    --btn-blu: #0061ff;
    --grey: #4a4646;
    --light-grey: #d6d6d6;
    --s1: #a2d39b;
    --ss1: #d1e9cd;
    --s2: #61082b;
    --s3: #0093ce;
    --s4: #ff1c1c;
    --s5: #d5001f;
    --s6: #b4d0e7;
    --s7: #0d2481;
    --s8: #ffd830;
    --font-m: 40px;
    --font-l: 76px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--hevenly);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container-small {
    max-width: 1000px;
    margin: 150px auto;
  }
  
  .pad {
    padding: 50px;
  }
  
  .pos-rel {
    position: relative;
  }
  
  .d-flex {
    display: flex;
  }
  
  .col {
    flex-flow: column;
    align-items: center;
  }
  
  .just-ar {
    justify-content: space-around;
  }
  
  .just-btw {
    justify-content: space-between;
  }
  
  .just-cnt {
    justify-content: center;
  }
  
  .al-cnt {
    align-items: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  /* margin */
  
  .mrg-40 {
    margin: 40px 30px;
  }
  
  .mrg-b80 {
    margin-bottom: 80px;
  }
  
  .mrg-t80 {
    margin-top: 80px;
  }
  
  /* width */
  .min-w200 {
    min-width: 200px;
  }
  
  .w-30 {
    width: 30%;
  }
  
  .w-40 {
    width: 40%;
  }
  
  .w-60 {
    width: 60%;
  }
  
  .w-70 {
    width: 70%;
  }
  
  .w-90 {
    width: 90%;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .line-h30 {
    line-height: 30px;
  }
  
  .mg-bot {
    margin-bottom: 20px;
  }
  
  .btn {
    display: block;
    background-color: var(--btn-blu);
    color: var(--white);
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 1s linear;
  }
  
  .btn:hover{
    background-color: #6098f3;
    box-shadow: 1px 1px 1px #4a4646;
  }
  
  
  .txt-grey {
    color: var(--light-grey);
  }
  
  .color-blu {
    color: var(--btn-blu);
  }

  .debug {
    height: 70px;
    min-width: 150px;
    
  }

  header {
    background-color: #fff;
    height: 70px;
  }

  .debug img{
    width: 100%;
  }
